ion-content {
  ion-avatar{
    width: 100% !important;
    height: 100% !important;
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    height: 10vh;
    min-height: 65px;
    
    .info {
      display: flex;
      align-items: center;
      ion-avatar {
        max-width: 51px;
        max-height: 51px;
        margin-inline-start: 15px;
      }
      .details{
        margin-inline-start: 15px;
        display: flex;
        flex-direction: column;
        #username, #status{
          color: darkblue;
          opacity: 0.4;
          margin-inline-start: 10px;
        }
      }
    }
    .icoontjes{
      display: flex;
      
      opacity: 0.7;
      ion-icon{
        font-size: 1.4rem;
        margin-inline-end: 10px;
      }
    }
  }

  .conversation {
    border: 1px solid lightsteelblue;
    border-radius: 15px;
    background-color: rgba(240, 255, 255, 0.336);
    height: 84vh;
    padding: 5px;
    margin: 10px;

    .chat-section {
      height: calc(100% - 85px);
      overflow: scroll;

      .chat {
        display: flex;
        flex-direction: column;
      
        .messages {
          display: flex;
          flex-direction: column;
          .message {
            border-radius: 15px;
            padding: 10px 15px;
            margin-block-start: 5px;
            margin-block-end: 5px;
            font-size: 0.8rem;
          }
        }  
        .my{
          align-items: flex-end;
          span{
            font-size: 0.7rem;
            color: #a6a6a6;
            margin-inline-start: 40px;
          }
          .message {
            background: rgba(29, 241, 135, 0.144);
            position: relative;
            max-width: 70vw;
          }
          .message-last-mine{
            display: flex;
            margin-block-end: 5px;
            ion-avatar{
              max-width: 30px;
              max-height: 30px;
              margin-inline-start: 15px;
              margin-block-start: 8px;
            }
          }
        }
          
        .doctor{
          align-items: flex-start;
          span{
            font-size: 0.7rem;
            color: #a6a6a6;
            margin-inline-start: 40px;
          }
          .message {
            background: #f16b1d25;
            position: relative;
            max-width: 70vw;
          }
          .message-last-doc{

            &:before{
                  content: "";
                  position:absolute;
                  z-index: 0;
                  bottom: 0;
                  left: -7px;
                  height: 20px;
                  background: #eee;
                  border-bottom-right-radius: 15px;
                }
                &::after{
                  content: "";
                  position: absolute;
                  z-index: 1;
                  bottom: 0;
                  left: -10px;
                  width: 10px;
                  height: 20px;
                  background: #fff;
                  border-top-right-radius: 10px;
                }

            display: flex;
            margin-block-start: 5px;
            ion-avatar{
              max-width: 30px;
              max-height: 30px;
              margin-inline-end: 10px;
              margin-block-start: 8px;
            }
          }
        }
      }
    }
    .message-input{
      display: flex;
      align-items: center;
      width: 85vw;
      justify-content: space-between;
      position: fixed;
      bottom: 30px;
      left: 50%;
      margin-left: -43vw;
      ion-input{
        border: 1px solid gray;
        border-radius: 25px;
        height: 48px;
        --padding-inline-start: 20px;
      }
      .sendMessage{
        margin-inline-start: 20px;
        background: #f16b1d25;
        color: #fff;
        padding: 10px 12px 6px 14px;
        font-size: 1.3rem;
        border-radius: 50%;
      }
    }
  } 
}