<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button href="home">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button href="#">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>Help</ion-label>
        </ion-tab-button>
        <ion-tab-button href="profiel">
          <ion-icon name="id-card"></ion-icon>
          <ion-label>Profiel</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
          <ion-label>Log uit</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let message of messages | async">
      <ion-col size="9" [offset]="message.myMsg ? 3 : 0"
      [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }">
      <b>{{ message.fromName }}</b><br>
      <span>{{ message.msg }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="10">
        <ion-textarea autoGrow="true" class="message-input" [(ngModel)]="newMsg"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''"
        class="msg-btn" (click)="sendMessage()">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>  
  </ion-toolbar>
</ion-footer>
