ion-button {
  white-space: normal;
  height: 60px;
}

ion-card-content {
margin-block-start: 20px;
}

ion-footer{
  position: fixed;
  bottom: 0;
  height: 50px;
}

ion-back-button{
  margin-block-start: 15px;
}