<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Spoed</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar id="toolHead">
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button href="home">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button href="#">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>Help</ion-label>
        </ion-tab-button>
        <ion-tab-button href="profiel">
          <ion-icon name="id-card"></ion-icon>
          <ion-label>Profiel</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
          <ion-label>Log uit</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
  <div class="flex-center">
    <ion-card id="card-warning" >
      <ion-card-header color="warning">
        <ion-card-title>LET OP!</ion-card-title>
        <ion-card-subtitle>
          U staat op het punt een noodoproep te doen. Misbruik resulteert in uitschakeling van deze functie.
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button id="btn-lifethreatening" (click)=showAlert() expand="block" shape="round" color="danger">Levensbedreigende situatie</ion-button>
        <ion-button id="btn-nonlifethreatening" [routerLink]="['/not-life-threatening']" expand="block" shape="round" color="warning">Niet levensbedreigend maar wel spoedeisend</ion-button>
        <ion-button id="backToLogin" (click)="logout()" expand="block" fill="clear" shape="round">Terug naar login</ion-button>
      </ion-card-content>
    </ion-card> 
  </div>
</ion-content>