<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bloedonderzoek</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button href="home">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button href="#">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>Help</ion-label>
        </ion-tab-button>
        <ion-tab-button href="profiel">
          <ion-icon name="id-card"></ion-icon>
          <ion-label>Profiel</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
          <ion-label>Log uit</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-center">
  <form action="">
    <ion-item id="purpose-bloodwork">
      <ion-label position="floating">Klacht omschrijving:</ion-label>
      <ion-textarea rows="10"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Onderzoeken op:</ion-label>
      <ion-select value="bloodwork" multiple="true">
        <ion-select-option>Allergie&euml;n</ion-select-option>
        <ion-select-option>Bloedarmoede</ion-select-option>
        <ion-select-option>Blauw bloed (adel)</ion-select-option>
        <ion-select-option>Toekomst voorspelling</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Bent u hier al eerder op onderzocht?</ion-label>
      <ion-select value="researched-before" multiple="false">
        <ion-select-option value="researched-before-Yes">Ja</ion-select-option>
        <ion-select-option value="researched-before-No">Nee</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Bent u hier al eerder voor bij de huisarts geweest?</ion-label>
      <ion-select value="visited-general-practitioner" multiple="false">
        <ion-select-option value="visited-general-practitioner-Yes">Ja</ion-select-option>
        <ion-select-option value="visited-general-practitioner-No">Nee</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Wilt u vooraf contact met de arts hierover?</ion-label>
      <ion-select value="contact" multiple="false">
        <ion-select-option value="contactYes">Ja</ion-select-option>
        <ion-select-option value="contactNo">Nee</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="buttons">
      <ion-button id="Submit" (click)="onClick()" expand="block" shape="round">
        Aanvragen
      </ion-button>
      <ion-button id="Cancel" href="../home/" expand="block" shape="round">
        Annuleren
      </ion-button>
    </div>
  </form>
</ion-content>