<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consultaanvraag</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button href="home">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button href="#">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>Help</ion-label>
        </ion-tab-button>
            <ion-tab-button href="profiel">
          <ion-icon name="id-card"></ion-icon>
          <ion-label>Profiel</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-center">
  <div class="selection">
    <ion-label>Kies de datum, dan tijd en geef dan aan of u een lange of korte consult wilt.</ion-label>
    <ion-datetime 
      dayValues=1,2,4,5,8,12,17,18,19 
      hourValues="8,9,10,11,13,14,15,16" 
      minuteValues="0,15,30,45" 
      min="2022-04-17" max="2023-12-31">
      <div slot="time-label">Kies uw gewenste tijd</div>
    </ion-datetime>
    <ion-item id="consultLength">
      <ion-label>Duur van het consult:</ion-label>
      <ion-select value="lengthConsult" multiple="false">
        <ion-select-option value="shortConsult">Kort &#40;15 min&#41;</ion-select-option>
        <ion-select-option value="longConsult">Lang &#40;30 min&#41;</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item id="complaintDescription">
      <ion-label position="floating">Klacht omschrijving:</ion-label>
        <ion-textarea rows="10"></ion-textarea>
    </ion-item>
    <div class="buttons">
      <ion-button id="Submit" (click)="onClick()" expand="block" shape="round">
        Inplannen
      </ion-button>
      <ion-button id="Cancel" href="../home/" expand="block" shape="round">
        Annuleren
      </ion-button>
    </div>
  </div>
</ion-content>