// ion-select > ion-select-option{
//   color: red;
//   font-size: 10px;
// }
// ion-button{ 
// }
// #card-warning {
//   background: warning;
//   color: #ff3838;
//   display: flex;
//   flex-direction: column;
// }
// #mobiliteit ion-button{
//   font-size: 12px;
//   width: 75vw;
//   height: 50px;
//   margin: 5px;
//   line-height:2;
// }

ion-list{
  margin: 15px;
}

#mobiliteit{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: 20px;
  ion-button {
    width: 85vw;
    align-items: center;
    font-size: 12px;
    height: 50px;
    white-space: normal;
  }
}

.selections{
  font-size: 12px;
}
ion-footer{
  position: fixed;
  bottom: 0;
  height: 50px;
}

ion-back-button{
  margin-block-start: 15px;
}