<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Niet levensbedreigend</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <ion-toolbar id="toolHead">
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button href="home">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button href="#">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>Help</ion-label>
        </ion-tab-button>
        <ion-tab-button href="profiel">
          <ion-icon name="id-card"></ion-icon>
          <ion-label>Profiel</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
          <ion-label>Log uit</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
  <div class="flex-center">
  <ion-list>
    <ion-list-header>
      <ion-label>
        Spoedeisende hulp
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label class="selections">&lpar;Vermoedelijk&rpar; letsel</ion-label>
      <ion-select placeholder="Maak een keuze...." multiple="true">
        <ion-select-option value="botbreuk">Botbreuk of ernstige verstuiking&sol;kneuzing</ion-select-option>
        <ion-select-option value="bloeding">Bloeding</ion-select-option>
        <ion-select-option value="val">Erstige val</ion-select-option>
        <ion-select-option value="hoofdletsel">Hoofdletsel</ion-select-option>
        <ion-select-option value="verbranding">Verbranding</ion-select-option>
        <ion-select-option value="overdosis-vergiftiging">Overdosis of vergiftiging</ion-select-option>
        <ion-select-option value="bewusteloosheid">Bewusteloosheid</ion-select-option>
        <ion-select-option value="hersenletsel">Hersenletsel</ion-select-option>
        <ion-select-option value="onbekend">Onbekend en niet te achterhalen</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="selections">
      <ion-label>Het slachtoffer heeft alcohol en&sol;of drugs gebruikt</ion-label>
      <ion-select class="custom-options" multiple="true">
        <ion-select-option value="drugs">Drugs</ion-select-option>
        <ion-select-option value="alcohol">Alcohol</ion-select-option>
      </ion-select>
    </ion-item>
    <div id="mobiliteit">
      <ion-button (click)="openTransparentModal()" expand="full" color="secondary" shape="round">
        Het slachtoffer is mobiel en kan vervoer regelen..
      </ion-button>
      <ion-button [routerLink]="['not-mobile']">Het slachtoffer is niet mobiel en&sol;of kan geen vervoer regelen.</ion-button>
    </div>
      <ion-button (click)="logout()" expand="block" fill="clear" shape="round">Terug naar login</ion-button>
  </ion-list>
</div>
</ion-content>