<ion-content fullscreen>
  <div class="flex-center">
    <ion-card>
      <form [formGroup]="credentials" (ngSubmit)="login()">
        <ion-item fill="solid" lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
          <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is fout</ion-note>
        </ion-item> 
        <ion-item fill="solid" lines="full">
          <ion-label position="floating">Paswoord</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
          <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Paswoord moet op z'n minst 6 karakters bevatten.</ion-note>
        </ion-item>
        <ion-button type="submit" expand="full" [disabled]="!credentials.valid">Login</ion-button>
        <!-- <ion-button color="dark" fill="clear" size="full" href="forgot-pw">paswoord vergeten?</ion-button> -->
        <ion-button color="dark" fill="clear" size="full" (click)="resetPW()">paswoord vergeten?</ion-button>
        <ion-button type="button" expand="full" (click)="register()">Registreren</ion-button>
      </form>
    </ion-card>
    <div id="melding"></div>
  </div>
  
</ion-content>
<ion-footer >
  <ion-toolbar >
    <ion-button [routerLink]="['/emergency']" class="emergency" color="danger" expand="block">SPOED</ion-button>
  </ion-toolbar>
</ion-footer>
