<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="flex-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registratie</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Gebruikersnaam &ast;</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Paswoord &ast;</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nogmaals paswoord &ast;</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email adres &ast;</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Volledige naam</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Straatnaam en huisnummer</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Postcode</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Woonplaats</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-text color="danger">
        <p>&ast; verplichte velden</p>
      </ion-text>
    </ion-card-content>
    <ion-button fill="clear" size="full" shape="round" href="home">Registreren</ion-button>
    <ion-button fill="clear" size="full" shape="round">Annuleren</ion-button>
  </ion-card>
</div>
</ion-content>
