<!-- <ion-header>
  <ion-toolbar>
    <ion-title>modalPage</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Dichtsbijzijnde huisartsenpost:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <address>
          Ga naar deze medische post.<br>
          Men is op de hoogte van uw komst.<br><br>
          Huisartsenpost de Huisarts<br>
          Dokterslaan 3<br>
          1234 HA &hyphen; Artsenstad
        </address>
        <ion-footer>
          <ion-toolbar>
            <ion-button (click)="dismiss()" fill="clear" color="dark">
              <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-button>
          </ion-toolbar>
        </ion-footer>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
